.nav_principal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #EBF0EC;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav_principal a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
    margin: 30px;
}

.contenido {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
}


.link_index {
    text-decoration: none; 
    color: white;
    font-size: 20px;
}


